.title {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 82px;
	font-weight: 300;
	letter-spacing: 0.6rem;
}

.mt-3 {
	margin-top: $spacer !important;
}

.mb-5 {
	margin-bottom: ($spacer * 3) !important;
}

.mt-5 {
	margin-top: ($spacer * 3) !important;
}

.my-5 {
	margin-bottom: ($spacer * 3) !important;
	margin-top: ($spacer * 3) !important;
}
